@{
    ViewBag.Title = "İşlem Sonucu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İşlem Sonucu</h2>

<div class="alert alert-info">
    @ViewBag.islem
</div>

<a href="/Satis/Index" class="btn btn-primary">Satışlarım</a>
